<div class="jumbotron" style="position: relative;">
    <div class="text-center">
        <h1 class="display-4">Henrique Venâncio</h1>
        <h3>Java Developer</h3>
    </div>
    <div style="position: absolute; bottom: 5px; right: 10px;">
      <a href="https://www.linkedin.com/in/programadorhenriquev/" target="_blank" class="rounded-circle me-2" style="background-color: white;">
        <img src="../../assets/linkedin.svg" width="22" height="22" title="linkedin" alt="linkedin">
      </a>
      <a href="https://github.com/HenriqueV01" target="_blank" class="rounded-circle me-2" style="background-color: white;">
        <img src="../../assets/github.svg" width="22" height="22" title="github" alt="github">
      </a>
      <a href="https://wa.me//5581985785488?text=Ola%20Henrique%20" target="_blank" class="rounded-circle me-2" style="background-color: white;">
        <img src="../../assets/whatsapp.svg" width="22" height="22" title="whatsapp" alt="whatsapp">
      </a>
    </div>

</div>
