<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
<footer>
  <div class="icons links">
    <a href="https://github.com/HenriqueV01" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://www.linkedin.com/in/programadorhenriquev/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
    <a href="mailto:henrique.unibratec01@gmail.com?subject=Contato&&body=Olá, Henrique"><i class="fa fa-envelope"></i></a>
    <a href="#"><i class="fa fa-globe"></i></a>
   </div>
	<p class="p-text">&copy; 2024 - Todos os direitos reservados.<br>
    Henrique Venâncio</p>
</footer>
