<div class="container">
  <div class="col-sm shadow border mt-5 text-center" style="background-color: white;">
    <h3>Contato</h3>
    <p>E-mail: <strong>henrique.unibratec01&#64;gmail.com</strong></p>
  </div>

  <div class="list-group col-sm shadow border mt-3">
    <a href="https://www.linkedin.com/in/programadorhenriquev/" target="_blank" class="list-group-item list-group-item-action d-flex justify-content-left">
      <img src="../../assets/linkedin.svg" width="22" height="22" title="linkedin" alt="linkedin" style="margin-right: 5px;">
      <small class="mb-0">LinkedIn</small>
    </a>
    <a href="https://github.com/HenriqueV01" target="_blank" class="list-group-item list-group-item-action d-flex justify-content-left align-items-left">
      <img src="../../assets/github.svg" width="22" height="22" title="github" alt="github" style="margin-right: 5px;">
      <small class="mb-0">GitHub</small>
    </a>
    <a href="https://wa.me//5581985785488?text=Ola%20Henrique%20" target="_blank" class="list-group-item list-group-item-action d-flex justify-content-left align-items-left">
      <img src="../../assets/whatsapp.svg" width="22" height="22" title="whatsapp" alt="whatsapp" style="margin-right: 5px;">
      <small class="mb-0">WhatsApp</small>
    </a>
  </div>

</div>
