<div class="container text-center">
  <button class="btn btn-primary mb-5 shadow border" (click)="downloadFile()">Download PDF - Sobre</button>
  <!-- <accordion>
    <accordion-group heading="Experiência Profissioanl">

    </accordion-group>
    <accordion-group heading="Formação Acadêmica">

    </accordion-group>
    <accordion-group heading="Curso Técnico">

    </accordion-group>
    <accordion-group heading="Skills">

    </accordion-group>
  </accordion> -->

  <div class="accordion" id="accordion">
    <div class="accordion-item">
      <!--HEADER-->
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Experiência Profissional:
        </button>
      </h2>
      <!--HEADER-->
      <!--BODY-->
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
        <div class="accordion-body">
        <!--PART-->
        <div style="text-align: left;">
          <h4 class="mb-8">Programador Java Web</h4>
          <h5 class="text-primary">MPS Informática, Recife - PE.</h5>
          <ul>
            <li>Programador Java de Micros Serviços REST.</li>
            <li>2022 até 2023.</li>
          </ul>
        </div>
      <!--PART-->
      <div style="text-align: left;">
        <h4 class="mb-8">Programador Java</h4>
        <h5 class="text-primary">ENGEVIA, Luanda - Angola.</h5>
        <ul>
          <li>Programador Java de Sistema ERP.</li>
          <li>2014.</li>
        </ul>
      </div>
      <!--PART-->
      <div style="text-align: left;">
        <h4 class="mb-8">Estagiário Java Web</h4>
        <h5 class="text-primary">Kaplen (Soluções em cartões de crédito), Recife - PE. </h5>
        <ul>
          <li>Estagiário em Desenvoldimento de Sistemas.</li>
          <li>2012.</li>
        </ul>
      </div>
      <!--PART-->
      <div style="text-align: left;">
        <h4 class="mb-8">Programador Java Web</h4>
        <h5 class="text-primary">TRIBUTUS informática (Gestão Municipal), Recife - PE. </h5>
        <ul>
          <li>Estagiário em Desenvoldimento de Sistemas.</li>
          <li>2011.</li>
        </ul>
      </div>
      <!--BODY-->
        </div>
      </div>
    </div>









  </div>

</div>
