<nav class="navbar-expand-md border-bottom md-3 background">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a routerLink="/home" routerLinkActive="dark" class="nav-link text-secondary center-text">Início</a>
            </li>
            <li class="nav-item">
                <a routerLink="/portfolio" routerLinkActive="dark" class="nav-link text-secondary center-text">Portfólio</a>
            </li>
            <li class="nav-item">
                <a routerLink="/sobre" routerLinkActive="dark" class="nav-link text-secondary center-text">Sobre</a>
            </li>
            <li class="nav-item">
                <a routerLink="/contato" routerLinkActive="dark" class="nav-link text-secondary center-text">Contato</a>
            </li>
        </ul>
    </div>
</nav>
