<nav class="navbar-expand-md border-bottom md-3">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a routerLink="/home" routerLinkActive="text-dark" class="nav-link text-secondary">Início</a>
            </li>
            <li class="nav-item">
                <a routerLink="/portfolio" routerLinkActive="text-dark" class="nav-link text-secondary">Portfólio</a>
            </li>
            <li class="nav-item">
                <a routerLink="/sobre" routerLinkActive="text-dark" class="nav-link text-secondary">Sobre</a>
            </li>
            <li class="nav-item">
                <a routerLink="/contato" routerLinkActive="text-dark" class="nav-link text-secondary">Contato</a>
            </li>
        </ul>
    </div>
</nav>