<div class="container">
    <div class="row ">
        <!-- Sobre mim -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Sobre Mim</h2>
                <img src="../../assets/Henrique-Perfil.jpg" title="Foto de Perfil" alt="Foto de Perfil" width="256" height="256" class="rounded-circle mt-3"
                  style="box-shadow: 0 0 25px black;">
                <p class="mt-4">Sou Henrique Venâncio, programador Java nível júnior/pleno, moro na região metropolitana de Recife.
                    Tenho experiência de quase 4 anos como programador Java Back-End.</p>
            </div>
        </div>

        <!-- Projetos -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Projetos</h2>
                <h4>{{ featureProjeto.nome }}</h4>
            </div>
            <carousel>
              <div *ngFor="let imagem of featureProjeto.imagens">
                <slide><img src="{{ imagem }}" alt="slide" style="display: block; width: 100%; height: 250px;"></slide>
              </div>
            </carousel>
            <h4 class="mt-2">Descrição:</h4>
            <p class="mt-2">{{ featureProjeto.resumo }}</p>
            <p class="p-text" >Para ver mais, visite a seção de Portfólio!</p>
        </div>
    </div>
</div>
