<div class="container">
    <div class="row">
        <!-- Sobre mim -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Sobre Mim</h2>
                <img src="../../assets/Henrique-Perfil.jpg" title="Foto de Perfil" alt="Foto de Perfil" width="256" height="256" class="rounded-circle">
                <p>Sou Henrique Venâncio, programador Java nível júnior/pleno, moro na região metropolitana de Recife.
                    Tenho experiência de quase 4 anos como programador Java Back-End.</p>
            </div>
        </div>

        <!-- Projetos -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Projetos</h2>
                <h4>{{ featureProjeto.nome }}</h4>
            </div>
        </div>
    </div>
</div>
